
<fieldset>
    <legend>{{ name }}</legend>
    <!-- TITLE -->
    <p>
        <label for='log-name'>Name</label><br>
        <input id='log-name' type='text' name='name' value='{{ log.name }}' />
    </p>

    <!-- DESCRIPTION -->
    <p>
        <label for='log-sets'>Sets</label><br>
        <input id='log-sets' type='text' name='sets' value='{{ log.sets }}' />
    </p>


    <p>
        <label for='log-reps'>Reps</label><br>
        <input id='log-reps' type='text' name='reps' value='{{ log.reps }}' />
    </p>
    <p>
        <label for='log-weight'>Weight</label><br>
        <input id='log-weight' type='text' name='weight' value='{{ log.weight }}' />
    </p>
</fieldset>

<!-- BUTTON -->
<p>
    <button type='submit'>Save Exercise</button>
</p>
