<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='/workout'>
                Workout App
            </a>
        </div>
        <div class='pull-right'>
            <a href='/workout/login' class='btn btn-default navbar-btn'>Login</a>
            <a href='/workout/create_user' class='btn btn-default navbar-btn'>New User</a>
        </div>
        <div class='pull-left'>
            <ul class="navbar-nav mr-auto">
            <a href='/workout/chest' class='btn btn-default navbar-btn'>Chest</a>
            <a href='/workout/arms' class='btn btn-default navbar-btn'>Arms</a>
            <a href='/workout/shoulders' class='btn btn-default navbar-btn'>Shoulders</a>
            <a href='/workout/legs' class='btn btn-default navbar-btn'>Legs</a>
            <a href='/workout/back' class='btn btn-default navbar-btn'>Back</a>
            <a href='/' class='btn btn-default navbar-btn'>Custom</a>
        </div>
    </div>

</nav>
