{% extends 'base.html' %}

{% block content %}
  <h2>Arms Workout</h2>

  <h3>Overview</h3>

  <ol>
    <li>Quick Warmup</li>
    <li>Biceps Curl</li>
    <li>Forearm Curl</li>
    <li>Tricep Pushdowns</li>
    <li>Cables Bicep Curls</li>
    <li>Rehab Exercise</li>
  </ol>

  <h3>1. Warmup</h3>
  <h4>Internal Rotation</h4>
  <p>
    <strong>Equipment Needed: </strong>
    One 5 lb weighted plate
  </p>

  <p>
    <strong>Repetition: </strong>
    2 sets of 10 reps for each arm
  </p>

  <p>
    <strong>Step-by-Step:</strong>
    <ul>
      <li>Hold onto the 5lb plate with your elbow bent at 90 degrees. Your hand
          should be in front of your body.
      </li>
      <li>Keep your elbow as tight as possible to your body and bring the arm
          across the body
      </li>
      <li>Slowly return to the starting position and repeat
      </li>
    </ul>
  </p><br>

  {% endblock %}
