{% extends 'base.html' %}

{% block content %}

<h2>Pre-Workout and Post-Workout Stretches for a Back Workout</h2>

<h3>Overview</h3>

<ol>
  <li>Foam Roller Back Extension</li>
  <li>Toe Touches</li>
  <li>Cat Stretch</li>
  <li>Knee to Chest</li>
</ol>

<h3>Pre-Workout</h3>
<h4>Foam Roller Back Extension</h4>

<img src="http://www.220triathlon.com/news/images/Foam%204.jpg" class="img-thumbnail">

<p>
  <strong>Equipment Needed: </strong>
  Foam Roller
</p>

<p>
  <strong>Repetition: </strong>
  1 minute
</p>

<p>
  <strong>Step-by-Step:</strong>
  <ul>
    <li>Sit on floor with knees bent and feet planted. Place foam roller just
        above lower back.
    </li>
    <li>Lie back on roller and reach your arms up overhead.
    </li>
    <li>Bend backwards gently over the roller, exhaling and pushing your arms
        back.
    </li>
    <li>Come back up and move foam roller up your back a few inches.
  </ul>
</p><br>

<h4>Toe Touches</h4>

<img src="https://media.istockphoto.com/vectors/woman-doing-standing-toe-touch-stretches-exercise-in-2-step-vector-id1134062504" class="img-thumbnail">

<p>
  <strong>Equipment Needed: </strong>
  None
</p>

<p>
  <strong>Repetition: </strong>
  2 sets of 30 seconds
</p>

<p>
  <strong>Step-by-Step:</strong>
  <ul>
    <li>Stand with feet together and knees locked.
    </li>
    <li>Slowly bend down with your hands toward the floor. Make sure your arms
        are loose. Take away all pressure from your arms.
    </li>
  </ul>
</p><br>

<h3>2. Post-Workout</h3>
<h4>Cat Stretch</h4>

<img src="https://media1.popsugar-assets.com/files/thumbor/SqMNwY_nodFmtZJosADXsOelbOo/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2018/12/19/025/n/1922729/tmp_2uyv7S_1e80093dfafe2ea5_cat-and-cow.jpg" class="img-thumbnail">

<p>
  <strong>Equipment Needed: </strong>
  None
</p>

<p>
  <strong>Repetition: </strong>
  10 reps
</p>

<p>
  <strong>Step-by-Step:</strong>
  <ul>
    <li>Get on your hands and knees
    </li>
    <li>Round your back and breathe out through your mouth
    </li>
    <li>Arch your back and inhale through your nose
    </li>
    <li>Repeat.</li>
  </ul>
</p><br>

<h4>Knee to Chest</h4>

<img src="https://www.healthlinkbc.ca/sites/default/libraries/healthwise/media/medical/hw/hwkb17_054.jpg" class="img-thumbnail">

<p>
  <strong>Equipment Needed: </strong>
  None
</p>

<p>
  <strong>Repetition: </strong>
  30 seconds for each leg
</p>

<p>
  <strong>Step-by-Step:</strong>
  <ul>
    <li>lie on your back.
    </li>
    <li>Use both hands to pull one knee in towrad chest.
    </li>
    <li>Hold knee for 30 seconds, keeping the abdominals tight.
    </li>
    <li>Repeat with opposite leg.</li>
  </ul>
</p><br>

{% endblock %}
