{% extends 'base.html' %}

{% block content %}
  <h2>Chest Workout</h2>

  <h3>Overview</h3>

  <ol>
    <li>Quick Warmup</li>
    <li>Incline Dumbell Bench Press</li>
    <li>Machine Flys</li>
    <li>Machine Press</li>
    <li>Pushdowns</li>
    <li>Rehab Exercise</li>
  </ol>

  <h3>1. Warmup</h3>
  <h4>Internal Rotation</h4>
  <p>
    <strong>Equipment Needed: </strong>
    One 5 lb weighted plate
  </p>

  <p>
    <strong>Repetition: </strong>
    2 sets of 10 reps for each arm
  </p>

  <p>
    <strong>Step-by-Step:</strong>
    <ul>
      <li>Hold onto the 5lb plate with your elbow bent at 90 degrees. Your hand
          should be in front of your body.
      </li>
      <li>Keep your elbow as tight as possible to your body and bring the arm
          across the body
      </li>
      <li>Slowly return to the starting position and repeat
      </li>
    </ul>
  </p><br>

  <h4>External Rotation With Arm Abducted 90°</h4>
  <p>
    <strong>Equipment Needed: </strong>
    One 5 lb weighted plate
  </p>

  <p>
    <strong>Repetition: </strong>
    2 sets of 10 for each arm
  </p>

  <p>
    <strong>Step-by-Step: </strong>
    <ul>
      <li>Hold onto 5lb plate with your elbow bent at 90 degrees. Your hand should
          be facing upwards.
      </li>
      <li>Keeping your shoulder and elbow level, slowly lower your hand until it
          is in line with your head.
      </li>
      <li>Slowly return to the starting position and repeat
      </li>
    </ul>
  </p><br>

  <h4>Arm Circles</h4>
  <p>
    <strong>Equipment needed: </strong>
    One 5 lb weighted plate(optional)
  </p>

  <p>
    <strong>Repetition: </strong>
    2 sets of 10 reps. 5 reps clockwise. 5 reps counter-clockwise
  </p>

  <p>
    <strong>Step-by-Step: </strong>
    <ul>
      <li>Hold onto 5lb plate(optional). Arms are extended and elbows are locked.</li>
      <li>Slowly move arms in a circular motion keeping the elbows locked.</li>
      <li>Repeat.</li>
    </ul>
  </p>

  <h3>2. Incline Dumbell Bench Press</h3>

  <p>
    <strong>Equipment Needed: </strong>
    Two Dumbells. *REMEMBER* Weight does NOT matter. Start off with light weight
    and work your way up in weight.
  </p>

  <p>
    <strong>Repetition: </strong>
    5 sets of 10 reps (I know this is a lot of reps. I believe in you. You can do it)
  </p>

  <p>
    <strong>Description: </strong>
    To bring the weight up, put the dumbells on your lap. By lifting your knees
    up, use that momentum to bring up the weight. The weight will end up by your
    shoulders and that's when you push up the weight. For each rep, bring the weight
    down until the end of the dumbell is a little bit above the level of your chest,
    and press up. Make sure the weight is controlled when you bring it up and down.
  </p><br>

  <h3>3. Machine Flys</h3>

  <p>
    <strong>Repetition: </strong>
    4 sets of 10 reps
  </p>

  <p>
    <strong>Description: </strong>
    Make sure your elbows aren't locked out. There should be a slight bent to your
    arms. Make sure your wrists are locked. Bring your hands together and bring them
    back to the starting position. Make sure that you don't overextend or go too
    fast or else you will tear a muscle and mess up your chest.
  </p><br>

  <h3>4. Machine Press</h3>

  <p>
    <strong>Repetition: </strong>
    4 sets of 15 reps
  </p>

  <p>
    <strong>Description: </strong>
    Don't go too heavy with the weight or else you will burn out quickly. Don't
    move the weight really fast. Make sure it's controlled and at a resonable speed
    so you really work those chest muscles.
  </p>

  <h3>5. Pushdowns</h3>

  <p>
    <strong>Repetition: </strong>
    4 sets of 15 reps
  </p>

  <p>
    <strong>Description: </strong>
    Standing up,hold onto the platform and bring the shoulder blades together
    and press down.
  </p><br>

  <h3>6. Rehab Exercise</h3>

  <p>
    <strong>Equipment Needed: </strong>
    A pole or the edge of a wall
  </p>

  <p>
    <strong>Repetition: </strong>
    1 minute for each arm
  </p>

  <p>
    <strong>Description: </strong>
    Grab onto the wall or pole with your right hand. Extend out your arm. Bring your
    left shoulder back and right shoulder forward slightly. You will feel a nice
    stretch in your right pectoral area. Repeat for the left pectoral.
  </p>





{% endblock %}
