{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/playlists'>
    <fieldset>
    <h1>Create Account</h1>
    <!-- TITLE -->
    <p>
        <label for='name'>Name</label><br>
        <input type='text' name='name' />
    </p>

    <p>
        <label for='username'><b>Username<b></label><br>
        <input type='text' placeholder='Enter Username' name='username' />
    </p>

    <p>
        <label for="password"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="password" required>

    </p>

    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Create Account</button>
    </p>
</form>
{% endblock %}
