{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/workout/new_user'>
    <fieldset>
    <h1>Create Account</h1>
    <!-- TITLE -->
    <p>
        <label for='name'><b>Name<b></label><br>
        <input type='text' placeholder='Enter Name' name='name' required>
    </p>

    <p>
        <label for='username'><b>Username<b></label><br>
        <input type='text' placeholder='Enter Username' name='username' required>
    </p>

    <p>
        <label for="password"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="password" required>

    </p>

    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Create Account</button>
    </p>
</form>
{% endblock %}
