{% extends 'base.html' %}

{% block content %}

<a class="btn btn-secondary" href="/" role="button">Back to Logs</a>

<h1>{{ log.date }}</h1>
<h2>{{ log.body_part }}</h2>
<h2>{{ log.time_length }}</h2>

<h3>{{ log.name }}</h3>
<h6>Sets: {{ log.sets }}</h6>
<h6>Reps: {{ log.reps }}</h6>
<h6>Weight: {{ log.weight }}</h6><br>

<a class="btn btn-secondary" href='/logs/{{ log._id }}/edit' role='button'>Edit</a>

<p><form method='POST' action='/logs/{{ log._id }}/delete'>
    <button class='btn btn-secondary' role='button' type='submit'>Delete</button>
</form><p>

{% endblock %}
