{% extends 'base.html' %}

{% block content %}
    <h1>Logs</h1><br>

    <a href='/logs/new'>New Log</a>

    {% for log in logs %}
        <div class="card text-center" style="width: 18 rem;">
          <div class="card-body">
            <h2 class="card-title"><a href='/logs/{{ log._id }}'>{{ log.date }}</a></h2>
            <small class="card-text">{{ log.body_part }}</small><br>
            <small class="card-text">{{ log.time_length }}</small><br>
            <a href="/logs/{{ log._id }}" class="btn btn-primary">View</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}
